<!-- service section starts here -->
<div class="row" ng-controller="ServicosMobileController as servicos" style="padding-top: 20px;">
    <section class="service text-center" id="service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-2 div-servico" ng-repeat="servico in servicos.Servicos">
                        <div class="row">
                            <button class="btn btn-link" ng-click="servicos.AbrirEspecialidades(servico.SERVICOID)">
                                <img class="img-icone" src="~/img/Servicos/{{servico.NOMESERVICO}}.png" />
                            </button>
                            <div class="row">
                                <h3 class="h3-service">{{servico.NOMESERVICO}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end of service section -->